/* Twitter Dark Mode Override */

body,
.AppContent,
.ProfileHeading-content {
  background-color: hsla(214, 27%, 10%, 1);
}

.global-nav-inner,
.module,
.stream-item:not(.no-header-background-module),
.MoveableModule,
.ProfileCanopy-navBar,
.ProfileNav-item--userActions,
.ProfileAvatar,
.ProfileSidebar .TweetImpressionsModule, .ProfileSidebar .ProfileLifelineInfo, .ProfileSidebar .RelatedUsers,
.WhoToFollow,
.module .flex-module,
.ProfileCard,
.DMActivity-body,
.GalleryTweet .tweet,
.DMDivider,
.EmojiBar-icon,
.EmojiBar-suggestions,
.tweet-form .thumbnail-container {
  background-color: hsla(214, 28%, 18%, 1) !important;
}

#global-tweet-dialog .modal-tweet .tweet:hover, #global-tweet-dialog .modal-tweet .tweet {
  background: transparent;
}

.module,
.stream-item:not(.no-header-background-module),
.tweet,
.ProfileCanopy-navBar,
.ProfileHeading-content,
.ProfileAvatar,
.ProfileSidebar .TweetImpressionsModule, .ProfileSidebar .ProfileLifelineInfo, .ProfileSidebar .RelatedUsers,
.WhoToFollow,
.module .flex-module,
.TwitterCard-container,
.ProfileCard,
.content-header, .content-no-header,
.stream-item+.stream-item.separated-module:not(.no-header-background-module), .stream-item.separated-module+.stream-item:not(.no-header-background-module), .PromptbirdPrompt-streamItem.separated-module+.stream-item:not(.no-header-background-module),
.DMInboxItem,
.tweet-form .thumbnail-container,
.ComposerThumbnail {
  border-color: hsla(214, 27%, 25%, 1);
}

.ComposerThumbnail {
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}

.tweet-form .thumbnail-container {
  box-shadow: none;
}

.DirectMessage--received .Caret:before {
  border-color: hsla(214, 27%, 15%, 1);
}

.tweet:hover,
.conversation-module .conversation-tweet-item .tweet:hover,
.DirectMessage--received .DirectMessage-message,
.DMInboxItem:hover {
  background-color: hsla(214, 27%, 15%, 1) !important;
}

.DMInboxItem.is-unread,
.FollowStatus {
  background-color: hsla(214, 60%, 20%, 1) !important;
}

.hovercard.profile-card .ProfileCard-content .FollowStatus {
  color: #1c9dec;
}

.global-nav .search-input,
.modal-header,
.DMActivity-header,
.u-bgUserColorLightest,
.DMComposer-container {
  background-color: hsla(214, 27%, 10%, 1) !important;
  border-color: hsla(214, 27%, 25%, 1) !important;
}

.DashboardProfileCard,
.DashboardProfileCard-bg,
.tweet-box,
.top-timeline-tweetbox .timeline-tweet-box,
.ProfileCard-bg,
.ListCreationModule {
  background-color: hsla(214, 27%, 20%, 1);
  border-color: hsla(214, 27%, 25%, 1);
}

.new-tweets-bar,
.RichEditor div[contenteditable], .RichEditor div[contenteditable]:focus, .RichEditor div[contenteditable].fake-focus, .RichEditor div[contenteditable], .RichEditor div[contenteditable]:focus, .RichEditor div[contenteditable].fake-focus,
.RichEditor.is-fakeFocus, .RichEditor,
.NotificationsHeadingContent,
.stream-item-activity-notification,
.permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item, .permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item .tweet:hover,
.modal .modal-tweet,
.modal-body p {
  background-color: hsla(214, 27%, 15%, 1);
  border-color: hsla(214, 27%, 25%, 1);
  color: white;
}

.hovercard .profile-social-proof {
  background: transparent;
  border-color: transparent;
  color: white;
}

.new-tweets-bar:hover {
  background-color: hsla(204, 90%, 60%, .3);
}

.stream-item-activity-notification .stream-item-activity-header .pretty-link b {
  color: hsla(204, 90%, 60%, 1);
}

.tweet-text,
.fullname,
.SummaryCard-content h2,
.SummaryCard-content h3,
.SummaryCard-content h1,
.QuoteTweet-fullname,
.ProfileHeaderCard,
.ProfileNav-item.is-active span.ProfileNav-value,
.TweetImpressionsModule,
.WhoToFollow-users .fullname,
.ProfileNameTruncated,
.bio-container,
.ProfileHeading-toggleItem.is-active, .ProfileHeading-toggleItem.is-active:hover, .ProfileHeading-toggleItem.is-active:focus,
.stream-item-activity-notification,
.stream-item-activity-line.js-actionable-user.stream-item-activity-line-notification .fullname,
.DashboardProfileCard-name {
  color: rgba(255,255,255,.85);
}

.ProfileHeaderCard-location span,
.ProfileHeaderCard-joinDate span {
  color: rgba(255,255,255,.5);
}

.SummaryCard-content p {
  color: rgba(255,255,255,.65);
}

.vellip, .vellip:before, .vellip:after, .conversation-module > li:after, .conversation-module > li:before, .ThreadedConversation-tweet:not(.is-hiddenAncestor) ~ .ThreadedConversation-tweet:before, .ThreadedConversation-tweet:after, .ThreadedConversation-viewOther:before, .ThreadedConversation-unavailableTweet:before, .ThreadedConversation-unavailableTweet:after, .ThreadedConversation--permalinkTweetWithAncestors:before {
  background-color: hsla(204, 90%, 30%, 1);
}

.SummaryCard-content,
.modal-tweet-form-container,
.modal-content,
.modal-tweet-form-container,
#global-tweet-dialog .modal-tweet-form-container,
.permalink .inline-reply-tweetbox,
.ThreadedConversation-viewOther,
.home-tweet-box, .LiveVideo-tweetBox, .RetweetDialog-commentBox, .WebToast-box--altColor {
  background: hsla(214, 27%, 12%, 1);
}

.modal-header,
.permalink,
.permalink-tweet, .permalink-tweet:hover,
.PermalinkOverlay-spinnerContainer,
.stream-end-inner,
.dropdown-menu {
  background: hsla(214, 27%, 8%, 1);
}

[class^="TwitterCardsGrid"],
.QuoteTweet,
.permalink-tweet, .permalink-tweet:hover,
.permalink .inline-reply-tweetbox,
.stream-end-inner,
.stream-end-item, .stream-end, .stream-loading, .stream-placeholder,
.tweet .stats,
.permalink .stats .avatar-row a:first-child,
.permalink .in-reply-to .tweet, .permalink .replies-to .tweet,
.ThreadedConversation, .ThreadedConversation-showMore:after, .ThreadedConversation-viewOther .view-other-link,
.ThreadedConversation, .ThreadedConversation-showMore, .ThreadedConversation-showMore:after, .ThreadedConversation+.ThreadedConversation--loneTweet, :not(.ThreadedConversation--ownReply)+.ThreadedConversation--ownReply, .ThreadedConversation--ownReply+.ThreadedConversation--loneTweet:not(.ThreadedConversation--ownReply), .ThreadedConversation--loneTweet:first-child,
.permalink.has-replies .inline-reply-tweetbox,
.dropdown-menu,
.dropdown-divider {
  border-color: rgba(255,255,255,.18);
}

.dropdown-caret .caret-inner {
  border-bottom-color: hsla(214, 27%, 5%, 1);
}

.QuoteTweet-container,
.permalink-tweet:hover, .permalink-tweet.focus,
.ThreadedConversation-showMore,
.ThreadedConversation, .ThreadedConversation--loneTweet,
.DashboardProfileCard-avatarLink {
  background-color: hsla(214, 27%, 12%, 1);
}

.btn,
.DashboardProfileCard-avatarImage {
  background-color: hsla(214, 28%, 10%, 1);
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.35));
  border-color: hsla(214, 28%, 5%, 1);
}

.permalink-container {
  box-shadow: 0 0 150px 20px black;
  border-radius: 5px;
}

.global-nav .people .count .count-inner {
  border-color: hsla(190, 100%, 10%, 1);
}

.tweet.focus {
  z-index: 999999 !important;
}

#profile-hover-container {
  z-index: 99999999 !important;
}

.ProfileTweet-action .dropdown .dropdown-menu {
  margin: 8px -10px 0;
  border: 1px solid rgba(255,255,255,.05);
  box-shadow: 0 8px 40px rgba(0,0,0,.55);
}

.DMNotice {
  background: hsla(214, 27%, 12%, 1);
}

.DMConversation-composer {
  box-shadow: none;
}

.ProfileClusterFollow {
  background: transparent;
  border: transparent;
}

.MomentCapsuleVTwoItemTweet--withText {
  background: hsla(214, 27%, 12%, 1);
}

.TwitterCard .MomentCard-description p {
  color: #fff;
}

.TwitterCard .MomentCard {
  background-color: hsla(214, 27%, 12%, 1);
  color: #fff !important;
}
