@-moz-document url-prefix("https://twitter.com") {
  /* Twitter Dark Mode Override */
  #page-outer,
  .AppContent,
  .ProfileHeading-content,
  .TwitterCard-container--clickable,
  body,
  body:first-child,
  html:first-child {
    background-color: hsla(214, 27%, 10%, 1);
  }

  .TwitterCardsGrid-col--12 .PollXChoice-pollWrapper {
    background-color: #212c3a;
    border-radius: 0;
    box-shadow: 0 5px 0 0 #212c3a;
  }

  .PermalinkOverlay-content .TwitterCardsGrid-col--12 .PollXChoice-pollWrapper {
    background-color: #0e131a;
    box-shadow: 0 5px 0 0 #0e131a;
  }

  .TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--chart {
    background: #1da1f2;
  }

  .TwitterCard .PollXChoice-optionContainer {
    color: #fff;
  }

  .PollingCardComposer {
    background-color: hsla(214, 27%, 15%, 1);
    box-shadow: inset 0 1px 0 hsla(214, 27%, 25%, 1);
  }

  .t1-select,
  div[contenteditable],
  input,
  textarea {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  .PollingCardComposer .PollingCardComposer-pollDuration {
    border-top: solid 1px hsla(214, 27%, 25%, 1);
  }

  .RichEditor,
  .TweetBoxAttachments {
    border-color: hsla(214, 27%, 25%, 1);
  }

  .Gallery-content {
    background-color: transparent;
  }

  .DMActivity-body,
  .DMDivider,
  .EmojiBar-icon,
  .EmojiBar-suggestions,
  .GalleryTweet .tweet,
  .MomentMakerHomeModule,
  .MoveableModule,
  .ProfileAvatar,
  .ProfileCanopy-navBar,
  .ProfileCard,
  .ProfileNav-item--userActions,
  .ProfileSidebar .ProfileLifelineInfo,
  .ProfileSidebar .RelatedUsers,
  .ProfileSidebar .TweetImpressionsModule,
  .WhoToFollow,
  .global-nav-inner,
  .module,
  .module .flex-module,
  .stream-item:not(.no-header-background-module),
  .tweet-form .thumbnail-container {
    background-color: hsla(214, 28%, 18%, 1) !important;
  }

  #global-tweet-dialog .modal-tweet .tweet,
  #global-tweet-dialog .modal-tweet .tweet:hover {
    background: transparent;
  }

  .ComposerThumbnail,
  .DMInboxItem,
  .MomentMakerHomeModule,
  .ProfileAvatar,
  .ProfileCanopy-navBar,
  .ProfileCard,
  .ProfileHeading-content,
  .ProfileSidebar .ProfileLifelineInfo,
  .ProfileSidebar .RelatedUsers,
  .ProfileSidebar .TweetImpressionsModule,
  .PromptbirdPrompt-streamItem.separated-module + .stream-item:not(.no-header-background-module),
  .TwitterCard-container,
  .WhoToFollow,
  .content-header,
  .content-no-header,
  .module,
  .module .flex-module,
  .stream-item + .stream-item.separated-module:not(.no-header-background-module),
  .stream-item.separated-module + .stream-item:not(.no-header-background-module),
  .stream-item:not(.no-header-background-module),
  .tweet,
  .tweet-form .thumbnail-container {
    border-color: hsla(214, 27%, 25%, 1) !important;
  }

  .ComposerThumbnail {
    background: transparent;
    box-shadow: none;
    border-color: transparent !important;
  }

  .tweet-form .thumbnail-container {
    box-shadow: none;
  }

  .DirectMessage--received .Caret:before {
    border-color: hsla(214, 27%, 15%, 1) !important;
  }

  .DMInboxItem:hover,
  .DirectMessage--received .DirectMessage-message,
  .conversation-module .conversation-tweet-item .tweet:hover,
  .tweet:hover {
    background-color: hsla(214, 27%, 15%, 1) !important;
  }

  .DMInboxItem.is-unread,
  .FollowStatus {
    background-color: hsla(214, 60%, 20%, 1) !important;
  }

  .DMActivity-header,
  .DMComposer-container,
  .global-nav .search-input,
  .modal-header,
  .u-bgUserColorLightest {
    background-color: hsla(214, 27%, 10%, 1) !important;
    border-color: hsla(214, 27%, 25%, 1) !important;
  }

  .DashboardProfileCard,
  .DashboardProfileCard-bg,
  .ListCreationModule,
  .ProfileCard-bg,
  .top-timeline-tweetbox .timeline-tweet-box,
  .tweet-box {
    background-color: hsla(214, 27%, 20%, 1) !important;
    border-color: hsla(214, 27%, 25%, 1) !important;
  }

  // Bump up the specificity
  body {
    .NotificationsHeadingContent,
    .ProfileHeading-content,
    .RichEditor,
    .RichEditor div[contenteditable],
    .RichEditor div[contenteditable],
    .RichEditor div[contenteditable].fake-focus,
    .RichEditor div[contenteditable].fake-focus,
    .RichEditor div[contenteditable]:focus,
    .RichEditor div[contenteditable]:focus,
    .RichEditor.is-fakeFocus,
    .SignupCallOut,
    .modal .modal-tweet,
    .modal-body p,
    .new-tweets-bar,
    .permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item,
    .permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item .tweet:hover,
    .stream-item-activity-notification {
      background-color: hsla(214, 27%, 15%, 1) !important;
      border-color: hsla(214, 27%, 25%, 1) !important;
      color: white !important;
    }

    .hovercard .profile-social-proof {
      background: transparent !important;
      border-color: transparent !important;
      color: white !important;
    }

    .stream-item-activity-notification .stream-item-activity-header .pretty-link b {
      color: hsla(204, 90%, 60%, 1);
    }

    .DashboardProfileCard-name,
    .ProfileHeaderCard,
    .ProfileHeading-toggleItem.is-active,
    .ProfileHeading-toggleItem.is-active:focus,
    .ProfileHeading-toggleItem.is-active:hover,
    .ProfileNameTruncated,
    .ProfileNav-item.is-active span.ProfileNav-value,
    .QuoteTweet-fullname,
    .SummaryCard-content h1,
    .SummaryCard-content h2,
    .SummaryCard-content h3,
    .TweetImpressionsModule,
    .WhoToFollow-users .fullname,
    .bio-container,
    .fullname,
    .stream-item-activity-line.js-actionable-user.stream-item-activity-line-notification .fullname,
    .stream-item-activity-notification,
    .tweet-text {
      color: rgba(255, 255, 255, 0.85);
    }

    .ProfileHeaderCard-joinDate span,
    .ProfileHeaderCard-location span {
      color: rgba(255, 255, 255, 0.5);
    }

    .SummaryCard-content p {
      color: rgba(255, 255, 255, 0.65);
    }

    .DashboardProfileCard-avatarImage,
    .btn {
      background-color: hsla(214, 28%, 10%, 1) !important;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)) !important;
      border-color: hsla(214, 28%, 5%, 1) !important;
      color: #fff !important;
    }

    .blocked .follow-button .blocked-text,
    .blocked .follow-button:hover .unblock-text,
    .following .follow-button .following-text,
    .following .follow-button.cancel-hover-style:hover .following-text,
    .following .follow-button:hover .unfollow-text,
    .not-following .follow-button .follow-text,
    .pending .follow-button .pending-text,
    .pending .follow-button.cancel-hover-style:hover .pending-text,
    .pending .follow-button:hover .cancel-text {
      color: #fff !important;
    }

    #global-actions .new:before,
    .Trends .context-trend-item .trend-name,
    .account-group:focus .fullname,
    .account-group:hover .fullname,
    .account-summary:focus .fullname,
    .btn-link,
    .btn-link:focus,
    .card .card-body .attribution:focus,
    .card .card-body:hover .attribution,
    .card .list-details a:focus,
    .card .list-details a:hover,
    .client-and-actions a:focus,
    .client-and-actions a:hover,
    .dismiss-btn:hover b,
    .dropdown.open .user-dropdown.plain-btn,
    .find-friends-sources li:hover .source,
    .icon-btn,
    .list .username a:focus,
    .list .username a:hover,
    .list-membership-container .create-a-list,
    .list-membership-container .create-a-list:hover,
    .message .message-text a,
    .metadata a:focus,
    .metadata a:hover,
    .module .list-link:focus,
    .module .list-link:hover,
    .new-tweets-bar,
    .open > .plain-btn,
    .plain-btn:focus,
    .plain-btn:hover,
    .pretty-link b,
    .pretty-link:focus b,
    .pretty-link:focus s,
    .pretty-link:focus s,
    .pretty-link:hover b,
    .pretty-link:hover s,
    .pretty-link:hover s,
    .remove-background-btn,
    .stats a strong,
    .stats a:focus,
    .stats a:focus strong,
    .stats a:hover,
    .stats a:hover strong,
    .stream-item .original-tweet.focus .details b,
    .stream-item .view-all-supplements:focus,
    .stream-item .view-all-supplements:hover,
    .stream-item a:focus .fullname,
    .stream-item a:hover .fullname,
    .stream-item-activity-notification .latest-tweet .tweet-row a:focus,
    .stream-item-activity-notification .latest-tweet .tweet-row a:focus b,
    .stream-item-activity-notification .latest-tweet .tweet-row a:focus s,
    .stream-item-activity-notification .latest-tweet .tweet-row a:hover,
    .stream-item-activity-notification .latest-tweet .tweet-row a:hover b,
    .stream-item-activity-notification .latest-tweet .tweet-row a:hover s,
    .stream-item.open .original-tweet .details b,
    .stream-item:hover .original-tweet .details b,
    .tweet .context .pretty-link:focus b,
    .tweet .context .pretty-link:focus s,
    .tweet .context .pretty-link:hover b,
    .tweet .context .pretty-link:hover s,
    .tweet .details.with-icn .Icon,
    .tweet .details.with-icn b,
    .tweet .time a:focus,
    .tweet .time a:hover,
    a:not(.js-nav):not(.global-dm-nav),
    a[role="button"]:not(.global-dm-nav):not(.js-moments-tab),
    li.active,
    s {
      color: #1da1f2 !important;
    }

    .hovercard.profile-card .ProfileCard-content .FollowStatus,
    .u-textUserColor,
    .u-textUserColorHover:active,
    .u-textUserColorHover:focus,
    .u-textUserColorHover:hover,
    .u-textUserColorHover:hover .ProfileTweet-actionCount {
      color: #1c9dec !important;
    }

    #global-actions > li > a {
      border-bottom-color: #1c9dec !important;
    }

    #global-actions > li > a:focus,
    #global-actions > li:hover > a,
    .nav.right-actions > li > a:focus,
    .nav.right-actions > li > a:hover,
    .nav.right-actions > li > button:focus,
    .nav.right-actions > li > button:hover {
      border-bottom-color: #1c9dec !important;
      color: #1c9dec !important;
    }

    #global-actions .new:before,
    .account-group:focus .fullname,
    .account-group:hover .fullname,
    .account-summary:focus .fullname,
    .btn-link,
    .btn-link:focus,
    .card .card-body .attribution:focus,
    .card .card-body:hover .attribution,
    .card .list-details a:focus,
    .card .list-details a:hover,
    .client-and-actions a:focus,
    .client-and-actions a:hover,
    .dismiss-btn:hover b,
    .dropdown.open .user-dropdown.plain-btn,
    .find-friends-sources li:hover .source,
    .icon-btn,
    .list .username a:focus,
    .list .username a:hover,
    .list-membership-container .create-a-list,
    .list-membership-container .create-a-list:hover,
    .message .message-text a,
    .metadata a:focus,
    .metadata a:hover,
    .module .list-link:focus,
    .module .list-link:hover,
    .new-tweets-bar,
    .open > .plain-btn,
    .plain-btn:focus,
    .plain-btn:hover,
    .pretty-link b,
    .pretty-link:focus b,
    .pretty-link:focus s,
    .pretty-link:hover b,
    .pretty-link:hover s,
    .remove-background-btn,
    .stats a strong,
    .stats a:focus,
    .stats a:focus strong,
    .stats a:hover,
    .stats a:hover strong,
    .stream-item .original-tweet.focus .details b,
    .stream-item .view-all-supplements:focus,
    .stream-item .view-all-supplements:hover,
    .stream-item a:focus .fullname,
    .stream-item a:hover .fullname,
    .stream-item-activity-notification .latest-tweet .tweet-row a:focus,
    .stream-item-activity-notification .latest-tweet .tweet-row a:focus b,
    .stream-item-activity-notification .latest-tweet .tweet-row a:hover,
    .stream-item-activity-notification .latest-tweet .tweet-row a:hover b,
    .stream-item.open .original-tweet .details b,
    .stream-item:hover .original-tweet .details b,
    .tweet .context .pretty-link:focus b,
    .tweet .context .pretty-link:focus s,
    .tweet .context .pretty-link:hover b,
    .tweet .context .pretty-link:hover s,
    .tweet .details.with-icn .Icon,
    .tweet .details.with-icn b,
    .tweet .time a:focus,
    .tweet .time a:hover,
    a {
      color: #1c9dec;
    }
  }

  .MomentCapsuleItemTweet--withText {
    background-color: #090c10;
    border-radius: 4px;
  }

  .new-tweets-bar:hover {
    background-color: hsla(204, 90%, 60%, 0.3);
  }

  .tweet .context .pretty-link b,
  .tweet .context .pretty-link s {
    color: #8899a6 !important;
  }

  .QuoteTweet--unavailable {
    background: #161d27;
  }

  .EmojiPicker-query {
    background-color: #212c3a;
    background-image: none;
    border-bottom: 1px solid #1c2531;
  }

  .EmojiPicker-content.Caret:before {
    border-color: #090c10;
  }

  .EmojiPicker-content.Caret:after {
    border-color: #090c10;
  }

  .EmojiPicker-categoryHeader {
    border-bottom: 1px solid #212c3a;
  }

  .EmojiPicker-categoryColumn {
    border-right: 1px solid #212c3a;
  }

  .EmojiPicker-diversityRow {
    border-top: 1px solid #212c3a;
  }

  .EmojiPicker-query input[type=text].EmojiPicker-queryInput {
    color: #fff;
  }

  .global-nav .search-input {
    color: #8899a6;
  }

  .global-nav .search-input.focus,
  .global-nav .search-input:focus {
    color: #abb8c2;
  }

  .ThreadedConversation--permalinkTweetWithAncestors:before,
  .ThreadedConversation-tweet:after,
  .ThreadedConversation-tweet:not(.is-hiddenAncestor) ~ .ThreadedConversation-tweet:before,
  .ThreadedConversation-unavailableTweet:after,
  .ThreadedConversation-unavailableTweet:before,
  .ThreadedConversation-viewOther:before,
  .conversation-module > li:after,
  .conversation-module > li:before,
  .vellip,
  .vellip:after,
  .vellip:before {
    background-color: hsla(204, 90%, 30%, 1);
  }

  #global-tweet-dialog .modal-tweet-form-container,
  .LiveVideo-tweetBox,
  .RetweetDialog-commentBox,
  .SummaryCard-content,
  .ThreadedConversation-viewOther,
  .WebToast-box--altColor,
  .home-tweet-box,
  .modal-content,
  .modal-tweet-form-container,
  .modal-tweet-form-container,
  .permalink .inline-reply-tweetbox {
    background: hsla(214, 27%, 12%, 1);
  }

  .PermalinkOverlay-spinnerContainer,
  .dropdown-menu,
  .modal-header,
  .permalink,
  .permalink-tweet,
  .permalink-tweet:hover,
  .stream-end-inner {
    background: hsla(214, 27%, 8%, 1);
  }

  .QuoteTweet,
  .ThreadedConversation,
  .ThreadedConversation,
  .ThreadedConversation + .ThreadedConversation--loneTweet,
  .ThreadedConversation--loneTweet:first-child,
  .ThreadedConversation--ownReply + .ThreadedConversation--loneTweet:not(.ThreadedConversation--ownReply),
  .ThreadedConversation-showMore,
  .ThreadedConversation-showMore:after,
  .ThreadedConversation-showMore:after,
  .ThreadedConversation-viewOther .view-other-link,
  .dropdown-divider,
  .dropdown-menu,
  .permalink .in-reply-to .tweet,
  .permalink .inline-reply-tweetbox,
  .permalink .replies-to .tweet,
  .permalink .stats .avatar-row a:first-child,
  .permalink-tweet,
  .permalink-tweet:hover,
  .permalink.has-replies .inline-reply-tweetbox,
  .stream-end,
  .stream-end-inner,
  .stream-end-item,
  .stream-loading,
  .stream-placeholder,
  .tweet .stats,
  :not(.ThreadedConversation--ownReply) + .ThreadedConversation--ownReply,
  [class^="TwitterCardsGrid"] {
    border-color: rgba(255, 255, 255, 0.18) !important;
  }

  .dropdown-caret .caret-inner {
    border-bottom-color: hsla(214, 27%, 5%, 1) !important;
  }

  .DashboardProfileCard-avatarLink,
  .QuoteTweet-container,
  .ThreadedConversation,
  .ThreadedConversation--loneTweet,
  .ThreadedConversation-showMore,
  .permalink-tweet.focus,
  .permalink-tweet:hover {
    background-color: hsla(214, 27%, 12%, 1) !important;
  }

  .QuoteTweet-container {
    border-radius: 4px;
  }

  .TwitterCard-container--clickable:hover {
    background: transparent;
  }

  .account-group-inner s,
  .username s,
  div[contenteditable="true"].fake-focus,
  div[contenteditable="true"]:focus,
  input:focus,
  textarea:focus {
    color: #b1bbc3 !important;
  }

  .metadata,
  .metadata a,
  .metadata button.btn-link,
  .time,
  .time a,
  .username {
    color: #8899a6 !important;
  }

  .permalink-container {
    box-shadow: 0 0 150px 20px black;
    border-radius: 5px;
  }

  .global-nav .people .count .count-inner {
    border-color: hsla(190, 100%, 10%, 1);
  }

  .ProfilePage.is-editing .ProfilePage-editingOverlay {
    background: #000;
  }

  .u-borderUserColorLight,
  .u-borderUserColorLightFocus:focus,
  .u-borderUserColorLightHover:focus,
  .u-borderUserColorLightHover:hover {
    border-color: hsla(214, 27%, 25%, 1) !important;
  }

  .u-bgUserColorLighter {
    background-color: hsla(214, 27%, 25%, 1) !important;
  }

  .tweet.focus {
    z-index: 999999 !important;
  }

  #profile-hover-container {
    z-index: 99999999 !important;
  }

  .ProfileTweet-action .dropdown .dropdown-menu {
    margin: 8px -10px 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.55);
  }

  .DMNotice {
    background: hsla(214, 27%, 12%, 1);
  }

  .DMConversation-composer {
    box-shadow: none;
  }

  .ProfileClusterFollow {
    background: transparent;
    border: transparent;
  }

  .MomentCapsuleVTwoItemTweet--withText {
    background: hsla(214, 27%, 12%, 1);
  }

  .TwitterCard .MomentCard-description p {
    color: #fff;
  }

  .TwitterCard .MomentCard {
    background-color: hsla(214, 27%, 12%, 1);
    color: #fff !important;
  }

  .DirectMessage.DirectMessage--sent .js-display-url {
    color: #161d27;
    text-decoration: underline;
  }

  .pushstate-spinner,
  .spinner {
    filter: invert(100%) hue-rotate(180deg);
  }

  .MutedKeywordsAddItemForm,
  .MutedKeywordsFooter,
  .content-header .header-inner,
  .content-inner,
  .content-inner.no-stream-end,
  .content-no-header .no-header-inner,
  .find-friends-bottom-subheader,
  .find-friends-sources,
  .find-friends-top-subheader,
  hr {
    background-color: #212c3a;
    border-color: #2f3d51;
    color: #fff;
  }

  .find-friends-list li {
    border-color: #2f3d51;

    &:hover {
      background-color: #2f3d51;
    }
  }

  #notifications-optout-all-top,
  .notifications-prompt-container {
    background-color: #2f3d51;
    border-color: #2f3d51;
    color: #fff;
  }

  body .js-nav-links .list-link {
    background-color: #212c3a;
    border-color: #2f3d51;
    color: #aab8c2;

    &:hover {
      background-color: #2f3d51;
    }
  }

  body .js-nav-links .active .list-link.js-nav {
    background-color: #1da1f2;
    color: #fff;

    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }

  .module li:first-child .list-link {
    border-top: none;
  }

  #content-main-heading,
  .MutedKeyword-text,
  .app .content strong,
  .find-friends-list .source,
  .settings-header,
  .t1-label,
  .t1-legend {
    color: #fff;
  }

  .alert,
  .banner-outer .pane-close,
  .welcome-banner-outer .pane-close {
    color: hsla(214, 27%, 12%, 1);
  }

  .t1-select[disabled] {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.25);
    opacity: .35;
  }

  .checkbox input[type=checkbox],
  .radio input[type=radio] {
    box-shadow: inset 0 0 0 10px #aab8c2;
  }

  .checkbox input[type=checkbox]:checked,
  .radio input[type=radio]:checked {
    box-shadow: none;
  }

  .stream .app,
  .stream .js-actionable-user.account {
    border-color: #2f3d51;
  }

  .ProfileTweet-fullname.u-linkComplex-target,
  .ep-EngagementsTableName,
  .ep-Header .ep-Title,
  .ep-MetricAnimation,
  .ep-TweetPerformance.ep-Section .ep-EngagementsTable .ep-EngagementsTableHeader,
  .ep-TweetPerformance.ep-Section .ep-Metric .ep-MetricTopContainer {
    color: rgba(255, 255, 255, 0.85);
  }

  .recap-header {
    border-bottom: 1px solid #2f3d51;
    color: #f5f8fa;
  }

  .ProfileHeaderCard-birthdateText,
  .ProfileHeaderCard-joinDateText,
  .ProfileHeaderCard-locationText,
  .ProfileHeaderCard-onlineHoursText,
  .ProfileHeaderCard-periscopeProfileText,
  .ProfileHeaderCard-responsivenessLevelText,
  .ProfileHeaderCard-vineProfileText {
    color: #8899a6;
  }

  .typeahead .fullname,
  .typeahead a {
    color: #f3f3f3;
  }

  .typeahead-items li > a {
    color: #f3f3f3;
  }

  .typeahead strong {
    color: #b3b3b3;
  }

  .MomentGuideNavigation {
    background-color: #131920;
    border-bottom: 1px solid #2f3d51;
  }

  .ProfileUserMomentsTimeline .MomentCapsuleSummary {
    background-color: #131920;
    border-bottom: 1px solid #2f3d51;
  }

  .MomentMakerRecommendations {
    background-color: #131920;
    border-top: 2px solid #2f3d51;
  }

  .MomentMakerRecommendations-module {
    background-color: #131920;
    border: 1px solid #131920;
  }

  .u-borderUserColor,
  .u-borderUserColorHover:focus,
  .u-borderUserColorHover:hover {
    border-color: #f3f3f3 !important;
  }

  .ProfileUserMomentsTimeline .GridTimeline-items.has-items {
    border: 1px solid #2f3d51;
  }

  .MomentMakerRecommendations-more {
    background-color: #2f3d51;
    border-top: 1px solid #2f3d51;
    color: #f3f3f3;
  }

  .MomentMakerRecommendations-scrollTopButton {
    background-color: #2f3d51;
    border: 1px solid #2f3d51;
  }

  .MomentButton--gray,
  .MomentButton--gray:focus {
    color: #f3f3f3;
  }

  .MomentMakerPage-content {
    background-color: #131920;
    margin: 0 auto;
  }

  .u-bgUserColor,
  .u-bgUserColorHover:focus,
  .u-bgUserColorHover:hover {
    background-color: #212c3b !important;
  }

  .MomentButton--white {
    background: #212c3b;
    border: 1px solid #fff;
  }

  .MomentUserByline-fullname {
    color: #f3f3f3;
  }

  .MomentCapsuleItemTweet--withText {
    background-color: #212c3b;
    border: 1px solid #2f3d51;
  }

  .MomentCapsuleSummary-title {
    color: #fff;
  }

  .MomentCapsuleCover-title {
    color: #1da1f2;
  }

  .MomentFloatingMenu {
    background-color: #090c10;
    border: 1px solid #212c3b;
  }

  .AdaptiveNewsLargeImageHeadline-body {
    background-color: #161d27;
    border: 1px solid #2f3d51;
  }

  .AdaptiveRelatedSearches,
  .SidebarFilterModule {
    background-color: #212c3b;
    border: 1px solid #2f3d51;
  }

  .SidebarFilterModule-filters .SidebarFilterModule-select {
    color: #fff;
  }

  .follow-card .follow-bar {
    background-color: #2f3d51;
    background-image: none;
    border-top: 1px solid #161d27;
    box-shadow: inset 0 1px 0 #090c10;
  }

  .dashboard .stats {
    background-color: transparent;
  }

  .follow-card .flex-module-header h1 {
    color: #f5f8fa;
  }

  .metadata a {
    color: #0ab5fa;
  }

  .PlayableMedia-description,
  .PlayableMedia-title {
    color: #8999A5;
  }

  .account,
  .app,
  .tweet:not(.js-original-tweet):not(.descendant) {
    padding: 20px 12px;
  }

  .QuoteTweet {
    border: 0;
  }

  body .DashboardProfileCard-avatarImage,
  body .btn {
    background-color: #121921 !important;
    background-image: linear-gradient(#212c3b, rgb(28, 37, 49)) !important;
    border-color: #2f3d51 !important;
  }

  .DirectMessage-tweet .QuoteTweet {
    background-color: transparent;
  }

  .activity-truncated-tweet .tweet-content,
  .visible-supplement .tweet-content {
    background: #161d27;
    padding: 12px;
    border-radius: 4px;
    margin: 0 0 0 36px;
  }

  .activity-supplement.js-navigable-stream {
    padding-right: 0 !important;
    padding-left: 48px !important;
  }

  .activity-supplement .view-all-supplements {
    margin-left: 16px !important;
  }

  .ThreadedConversation--permalinkTweetWithAncestors:before,
  .ThreadedConversation-tweet:after,
  .ThreadedConversation-tweet:not(.is-hiddenAncestor) ~ .ThreadedConversation-tweet:before,
  .ThreadedConversation-unavailableTweet:after,
  .ThreadedConversation-unavailableTweet:before,
  .ThreadedConversation-viewOther:before,
  .conversation-module > li:after,
  .conversation-module > li:before,
  .vellip,
  .vellip:after,
  .vellip:before {
    z-index: initial;
  }

  .RetweetDialog-tweet {
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: -16px;
  }

  .tweet > .context {
    margin-left: 24px;
  }
}

// end @moz-document url-prefix
